<template name="tasklist">
    <div class="template-tasklist">
        <div class="page-header">
            <h1>Tasks List</h1>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>Task ID</th>
                <th>Task Subject</th>
                <th>Task Description</th>
                <th>Creator votes</th>
                <th>Imported from Jira</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#each tasks}}
                {{>task_item}}
            {{/each}}
            </tbody>
        </table>

        <div>
            <a class="btn btn-primary" href="{{ pathFor 'addtask' }}"> <i class="fa fa-plus-circle"></i> Add new task</a>
            <p>Check the box infront of the task ID and press the button "Create Story Planning Session" to create a Planning Session</p>
            <a class="btn btn-primary {{disabledCreateStory}}" href="{{ pathFor 'addplanning' }}">{{disabledCreateStory}} Create Story Planning Session</a>


        </div>

    </div>
</template>